[submodule "third-party/dynamorio"]
	path = third-party/dynamorio
	url = https://github.com/rrnewton/dynamorio.git
	shallow = true
[submodule "third-party/sabre"]
	path = third-party/sabre
	url = https://github.com/srg-imperial/SaBRe.git
	update = none
	shallow = true
[submodule "third-party/e9patch"]
	path = third-party/e9patch
	url = https://github.com/GJDuck/e9patch.git
	update = none
	shallow = true
