name: ci

on:
  push:
  pull_request:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Install libunwind-dev
        run: sudo apt-get install -y libunwind-dev

      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install nightly toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Run cargo check
        run: cargo check --all-features

  test:
    name: Test Suite
    runs-on: ubuntu-latest
    steps:
      - name: Install libunwind-dev
        run: sudo apt-get install -y libunwind-dev

      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Install nightly toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Run cargo test
        run: cargo test --all-features -- --test-threads=1

## Currently disabled because internal version of rustfmt produces different
## formatting.
#  rustfmt:
#    name: Check format
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout sources
#        uses: actions/checkout@v2
#
#      - name: Install nightly toolchain
#        uses: dtolnay/rust-toolchain@nightly
#        with:
#          components: rustfmt
#
#      - name: Run cargo fmt
#        run: cargo fmt --all -- --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Install libunwind-dev
        run: sudo apt-get install -y libunwind-dev

      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@nightly
        with:
            components: clippy
      - name: Run cargo clippy
        run: cargo clippy all-features -- -Dclippy::all
